body {
border:0;
margin:0;
padding:0;
color:#666666;
font-family:sans-serif;
}

a, a:visited
{
text-decoration:none;
outline:none;
color:#000000;
}

a:hover
{
text-decoration:underline;
}

a img
{
border:0;
}

p
{
line-height:125%;
}
