RewriteEngine On
RewriteBase /

#<filesMatch "\.(png|jpg|jpeg|gif|css|js)$">
#Header set Cache-Control "max-age=604800, must-revalidate"
#</filesMatch>

RewriteRule ^.svn/(.*)$ http://%{HTTP_HOST} [R]

RewriteRule ^.git/(.*)$ http://%{HTTP_HOST} [R]


